<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


	<!-- 啟用 ASP.NET Core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

	<!--<variable name="path" value="${basedir}/logs/"/>-->
	<variable name="path" value="C:/logs/BookMatain/${mdlc:item=logpath}/"/>
	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target xsi:type="File" name="Error"  fileName="${path}${shortdate}-Error.log"
				archiveFileName="${path}${shortdate}-Error.{#####}.log"
				archiveAboveSize="409600"
				archiveNumbering="Sequence"
				layout="${longdate}${newline}${message}${newline}" />

		<target xsi:type="File" name="Warn"  fileName="${path}${shortdate}-Warn.log"
				archiveFileName="${path}${shortdate}-Audit.{#####}.log"
				archiveAboveSize="409600"
				archiveNumbering="Sequence"
				layout="${longdate}${newline}${message}${newline}" />

		<target xsi:type="File" name="Info"  fileName="${path}${shortdate}-Info.log"
				archiveFileName="${path}${shortdate}-Info.{#####}.log"
				archiveAboveSize="409600"
				archiveNumbering="Sequence"
				layout="${longdate}${newline}${newline}${message}${newline}" />

		<target xsi:type="File" name="Debug"  fileName="${path}${shortdate}-Debug.log"
				archiveFileName="${path}${shortdate}-Trace.{#####}.log"
				archiveAboveSize="409600"
				archiveNumbering="Sequence"
				layout="${longdate}${newline}${message}${newline}" />
	</targets>

	<rules>
		<!-- add your logging rules here -->
		<logger name="*" maxlevel="Error" minlevel="Error" writeTo="Error" enabled="true"/>
		<logger name="*" maxlevel="Warn" minlevel="Warn" writeTo="Warn" enabled="true"/>
		<logger name="*" maxlevel="Info" minlevel="Info" writeTo="Info" enabled="true"/>
		<logger name="*" maxlevel="Debug" minlevel="Trace" writeTo="Debug" enabled="false"/>
	</rules>
</nlog>